@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/* 
html {
  background-color: #c7d8f7;
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  font-family: "Jua", sans-serif;
  background-color: #c7d8f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 질문 페이지 */
/* .title {
  margin-top: 30%;
}

.question-box {
  margin-top: 15%;
  margin-left: 13%;
  background-color: aliceblue;
  width: 75%;
  height: 15rem;
  display: flex;
  justify-content: center;
  border-radius: 8%;
}

.question-box p {
  margin-top: 35%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 130%;
}

.button_style {
  margin-right: 15px;
  margin-top: 15%;
}
.button_style2 {
  margin-top: 15%;
}

/* 결과 페이지*/
/* .result_title {
  margin-top: 30%;
}

.result_subTitle {
  margin-bottom: 10%;
}

.result_value {
  margin-top: 5%;
  margin-left: 13%;
  background-color: aliceblue;
  width: 75%;
  height: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 8%;
}

.result_value p {
  margin-top: 0.2em;
}

.result_button {
  margin-top: 13%;
}  */
